<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>title}}
            <p>{{text}}</p>
            <p>{{text2}}</p>
            <img class="portrait" src="img/1.png">
        </div>

        {{>footer}}
    </body>
</html>